<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>mein Liste</title>
    <link rel="stylesheet" href="errors.css" th:href="@{/errors.css}">
    <meta charset="utf-8">
</head>

<body>

    <form th:action="@{/sichtung/meine/neu}" th:method="POST" th:object="${meinesichtungform}">
        <label for="name" th:text="#{form.name}"></label><br>
        <input type="text" th:field="*{name}" th:errorclass="error"><br>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errortxt">incorrect name</p>
        <label for="ort" th:text="#{form.ort}">Ort</label><br>
        <input type="text" th:field="*{ort}" th:errorclass="error"><br>
        <p th:if="${#fields.hasErrors('ort')}" th:errors="*{ort}" class="errortxt">incorrect ort</p>
        <label for="beschreibung" th:text="#{form.beschreibung}">beschreibung</label><br>
        <input type="text" th:field="*{beschreibung}" th:errorclass="error"><br>
        <p th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}" class="errortxt">incorrect beschreibung</p>
        <label for="datum" th:text="#{form.datum}">Sichtung am</label><br>
        <input type="date" th:field="*{datum}" th:errorclass="error"><br>
        <p th:if="${#fields.hasErrors('datum')}" th:errors="*{datum}" class="errortxt">incorrect datum</p>
        <a href=".">cancel </a>
        <input type="submit" value="submit" name="submit">

    </form>
    <p></p>
</body>

</html>